body {
  font-size: 18px;
}

h1 {
  line-height: 28px;
  font-weight: normal;
}

p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
}

a {
  font-weight: 100;
}

.heading {
  position: relative;
  top: -10px;
  left: 20px;
}
/* Margin around the element */
.box-1 {
  margin: 10px;
}

/* Margin left only */
.box-2 {
  margin-left: 10px;
}

/* 10px margin on top and bottom, 5px on the sides */
.box-3 {
  margin: 10px 5px;
}

/* 20px margin top, 15px margin right, 10px margin bottom and 5px margin left */
.box-4 {
  margin: 20px 15px 10px 5px;
}
